<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center stretch" class="row-example">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div> -->
<mat-card>
  <mat-card-title>Basic grid list</mat-card-title>
  <mat-card-content>
    <mat-grid-list [cols]="cols" gutterSize="20px" rowHeight="100px">
      <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        {{tile.text}}
      </mat-grid-tile>
      <!-- <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile> -->
    </mat-grid-list>
    <!-- Content -->
  </mat-card-content>
  <mat-card-footer>Footer</mat-card-footer>
</mat-card>
<!-- 
<div fxLayout="row" fxShow="true" fxHide.xs="true" class="row-example">
  <div>7</div>
  <div>8</div>
  <div>9</div>
</div>

<div fxLayout="column" fxLayoutAlign="center stretch" class="column-example">
  <div>4</div>
  <div>5</div>
  <div>6</div>
</div> -->