<label>Server Name</label>
<!-- Event binding -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<!-- Two way binding, The syntax is called that "Banana in a Box" -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- String Interpolation -->
<p>{{ serverName }}</p>
<!-- Property binding -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- <p>{{ serverCreationStatus }}</p> -->

<!-- ngIF Condition Method (1) -->
<!-- <p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<p *ngIf="!serverCreated">No server was created!</p> -->
<!-- ngIF Condition Method (2) -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>